In [1]:
import numpy as np
import pandas as pd
from scipy import stats
 
# グラフ描画
from matplotlib import pylab as plt
import seaborn as sns
%matplotlib inline

In [4]:
btc = pd.read_csv("BITSTAMP_SPOT_BTC_USD.csv",index_col='time_period_start')

In [5]:
btc.head()

,Unnamed: 0,price_close,price_high,price_low,price_open,time_close,time_open,time_period_end,trades_count,volume_traded
time_period_start,,,,,,,,,,
2017-01-01T00:00:00.0000000Z,0,974.92,975.00,960.53,966.34,2017-01-01T11:59:51.0000000Z,2017-01-01T00:01:08.0000000Z,2017-01-01T12:00:00.0000000Z,1091,1344.382475
2017-01-01T12:00:00.0000000Z,1,997.75,1005.00,972.50,975.00,2017-01-01T23:59:46.0000000Z,2017-01-01T12:00:31.0000000Z,2017-01-02T00:00:00.0000000Z,4332,5506.210834
2017-01-02T00:00:00.0000000Z,2,1024.92,1024.92,996.89,997.75,2017-01-02T11:59:37.0000000Z,2017-01-02T00:00:05.0000000Z,2017-01-02T12:00:00.0000000Z,2827,3457.351353
2017-01-02T12:00:00.0000000Z,3,1012.54,1032.00,990.01,1024.92,2017-01-02T23:59:37.0000000Z,2017-01-02T12:00:58.0000000Z,2017-01-03T00:00:00.0000000Z,4988,4710.029677
2017-01-03T00:00:00.0000000Z,4,1023.50,1029.92,999.99,1011.44,2017-01-03T11:59:30.0000000Z,2017-01-03T00:00:07.0000000Z,2017-01-03T12:00:00.0000000Z,3914,4139.579012

In [8]:
btc.reindex
btc.index.name='time'
btc.index = pd.to_datetime(btc.index)

In [9]:
btc.head()

,Unnamed: 0,price_close,price_high,price_low,price_open,time_close,time_open,time_period_end,trades_count,volume_traded
time,,,,,,,,,,
2017-01-01 00:00:00,0,974.92,975.00,960.53,966.34,2017-01-01T11:59:51.0000000Z,2017-01-01T00:01:08.0000000Z,2017-01-01T12:00:00.0000000Z,1091,1344.382475
2017-01-01 12:00:00,1,997.75,1005.00,972.50,975.00,2017-01-01T23:59:46.0000000Z,2017-01-01T12:00:31.0000000Z,2017-01-02T00:00:00.0000000Z,4332,5506.210834
2017-01-02 00:00:00,2,1024.92,1024.92,996.89,997.75,2017-01-02T11:59:37.0000000Z,2017-01-02T00:00:05.0000000Z,2017-01-02T12:00:00.0000000Z,2827,3457.351353
2017-01-02 12:00:00,3,1012.54,1032.00,990.01,1024.92,2017-01-02T23:59:37.0000000Z,2017-01-02T12:00:58.0000000Z,2017-01-03T00:00:00.0000000Z,4988,4710.029677
2017-01-03 00:00:00,4,1023.50,1029.92,999.99,1011.44,2017-01-03T11:59:30.0000000Z,2017-01-03T00:00:07.0000000Z,2017-01-03T12:00:00.0000000Z,3914,4139.579012

In [10]:
btc=btc[['price_close','volume_traded']]
btc.head()

                     price_close  volume_traded
time
2017-01-01 00:00:00       974.92    1344.382475
2017-01-01 12:00:00       997.75    5506.210834
2017-01-02 00:00:00      1024.92    3457.351353
2017-01-02 12:00:00      1012.54    4710.029677
2017-01-03 00:00:00      1023.50    4139.579012

In [11]:
bch = pd.read_csv("BITSTAMP_SPOT_BCH_USD.csv",index_col='time_period_start')
bch.index.name='time'
bch.index = pd.to_datetime(bch.index)
bch=bch[['price_close','volume_traded']]
bch.head()

                     price_close  volume_traded
time
2017-12-28 12:00:00      2498.00     413.643122
2017-12-29 00:00:00      2420.40    4299.356748
2017-12-29 12:00:00      2600.00    7601.142483
2017-12-30 00:00:00      2395.41    5599.603567
2017-12-30 12:00:00      2240.42    3915.529675

In [14]:
df = pd.merge(btc, bch, how = 'inner', left_index = True, right_index=True)
df.head()

,price_close_x,volume_traded_x,price_close_y,volume_traded_y
time,,,,
2017-12-28 12:00:00,14470.07,6880.191299,2498.00,413.643122
2017-12-29 00:00:00,14329.82,7044.376111,2420.40,4299.356748
2017-12-29 12:00:00,14340.00,6475.360019,2600.00,7601.142483
2017-12-30 00:00:00,13568.90,10820.098870,2395.41,5599.603567
2017-12-30 12:00:00,12640.00,10939.127615,2240.42,3915.529675

In [15]:
df.corr()

,price_close_x,volume_traded_x,price_close_y,volume_traded_y
price_close_x,1.000000,-0.133968,0.949353,-0.029044
volume_traded_x,-0.133968,1.000000,-0.071665,0.660773
price_close_y,0.949353,-0.071665,1.000000,0.088186
volume_traded_y,-0.029044,0.660773,0.088186,1.000000

In [17]:
df['btc_diff'] = df.price_close_x - df.shift(1).price_close_x
df['bch_diff'] = df.price_close_y - df.shift(1).price_close_y
df.head()

,price_close_x,volume_traded_x,price_close_y,volume_traded_y,btc_diff,bch_diff
time,,,,,,
2017-12-28 12:00:00,14470.07,6880.191299,2498.00,413.643122,NaN,NaN
2017-12-29 00:00:00,14329.82,7044.376111,2420.40,4299.356748,-140.25,-77.60
2017-12-29 12:00:00,14340.00,6475.360019,2600.00,7601.142483,10.18,179.60
2017-12-30 00:00:00,13568.90,10820.098870,2395.41,5599.603567,-771.10,-204.59
2017-12-30 12:00:00,12640.00,10939.127615,2240.42,3915.529675,-928.90,-154.99

In [18]:
df.dropna(how='any',inplace=True)
df.head()

,price_close_x,volume_traded_x,price_close_y,volume_traded_y,btc_diff,bch_diff
time,,,,,,
2017-12-29 00:00:00,14329.82,7044.376111,2420.40,4299.356748,-140.25,-77.60
2017-12-29 12:00:00,14340.00,6475.360019,2600.00,7601.142483,10.18,179.60
2017-12-30 00:00:00,13568.90,10820.098870,2395.41,5599.603567,-771.10,-204.59
2017-12-30 12:00:00,12640.00,10939.127615,2240.42,3915.529675,-928.90,-154.99
2017-12-31 00:00:00,13100.00,5503.595726,2310.00,1161.159840,460.00,69.58

In [19]:
df.corr()

,price_close_x,volume_traded_x,price_close_y,volume_traded_y,btc_diff,bch_diff
price_close_x,1.000000,-0.133523,0.948595,-0.021980,0.047484,0.011693
volume_traded_x,-0.133523,1.000000,-0.070731,0.661311,-0.132689,-0.161228
price_close_y,0.948595,-0.070731,1.000000,0.097036,0.013392,0.015509
volume_traded_y,-0.021980,0.661311,0.097036,1.000000,-0.122863,-0.041617
btc_diff,0.047484,-0.132689,0.013392,-0.122863,1.000000,0.766954
bch_diff,0.011693,-0.161228,0.015509,-0.041617,0.766954,1.000000

In [20]:
df['bch_lag'] = df.price_close_y - df.shift(-1).price_close_y
df.dropna(how='any',inplace=True)
df.head()

,price_close_x,volume_traded_x,price_close_y,volume_traded_y,btc_diff,bch_diff,bch_lag
time,,,,,,,
2017-12-29 00:00:00,14329.82,7044.376111,2420.40,4299.356748,-140.25,-77.60,-179.60
2017-12-29 12:00:00,14340.00,6475.360019,2600.00,7601.142483,10.18,179.60,204.59
2017-12-30 00:00:00,13568.90,10820.098870,2395.41,5599.603567,-771.10,-204.59,154.99
2017-12-30 12:00:00,12640.00,10939.127615,2240.42,3915.529675,-928.90,-154.99,-69.58
2017-12-31 00:00:00,13100.00,5503.595726,2310.00,1161.159840,460.00,69.58,-67.00

In [21]:
df.corr()

,price_close_x,volume_traded_x,price_close_y,volume_traded_y,btc_diff,bch_diff,bch_lag
price_close_x,1.000000,-0.134443,0.948768,-0.022982,0.046514,0.010670,0.115740
volume_traded_x,-0.134443,1.000000,-0.070977,0.660942,-0.134026,-0.162619,-0.077857
price_close_y,0.948768,-0.070977,1.000000,0.096850,0.013136,0.015252,0.124615
volume_traded_y,-0.022982,0.660942,0.096850,1.000000,-0.124460,-0.043118,-0.002263
btc_diff,0.046514,-0.134026,0.013136,-0.124460,1.000000,0.766604,-0.040435
bch_diff,0.010670,-0.162619,0.015252,-0.043118,0.766604,1.000000,-0.039710
bch_lag,0.115740,-0.077857,0.124615,-0.002263,-0.040435,-0.039710,1.000000

In [22]:
df['btc_lag'] = df.price_close_x - df.shift(-1).price_close_x
df.dropna(how='any',inplace=True)
df.head()

,price_close_x,volume_traded_x,price_close_y,volume_traded_y,btc_diff,bch_diff,bch_lag,btc_lag
time,,,,,,,,
2017-12-29 00:00:00,14329.82,7044.376111,2420.40,4299.356748,-140.25,-77.60,-179.60,-10.18
2017-12-29 12:00:00,14340.00,6475.360019,2600.00,7601.142483,10.18,179.60,204.59,771.10
2017-12-30 00:00:00,13568.90,10820.098870,2395.41,5599.603567,-771.10,-204.59,154.99,928.90
2017-12-30 12:00:00,12640.00,10939.127615,2240.42,3915.529675,-928.90,-154.99,-69.58,-460.00
2017-12-31 00:00:00,13100.00,5503.595726,2310.00,1161.159840,460.00,69.58,-67.00,-780.00

In [23]:
df.corr()

,price_close_x,volume_traded_x,price_close_y,volume_traded_y,btc_diff,bch_diff,bch_lag,btc_lag
price_close_x,1.000000,-0.135683,0.948933,-0.023406,0.046531,0.009933,0.116610,0.126049
volume_traded_x,-0.135683,1.000000,-0.071109,0.660887,-0.134192,-0.165022,-0.075939,-0.080107
price_close_y,0.948933,-0.071109,1.000000,0.096859,0.013136,0.015240,0.124735,0.097354
volume_traded_y,-0.023406,0.660887,0.096859,1.000000,-0.124479,-0.043989,-0.001423,-0.020502
btc_diff,0.046531,-0.134192,0.013136,-0.124479,1.000000,0.767194,-0.040484,-0.088380
bch_diff,0.009933,-0.165022,0.015240,-0.043989,0.767194,1.000000,-0.038250,-0.081668
bch_lag,0.116610,-0.075939,0.124735,-0.001423,-0.040484,-0.038250,1.000000,0.766932
btc_lag,0.126049,-0.080107,0.097354,-0.020502,-0.088380,-0.081668,0.766932,1.000000