In [1]:
import numpy as np
import pandas as pd
from scipy import stats
 
# グラフ描画
from matplotlib import pylab as plt
import seaborn as sns
%matplotlib inline

In [2]:
btc = pd.read_csv("BITSTAMP_SPOT_BTC_USD.csv",index_col='time_period_start')

btc.reindex
btc.index.name='time'
btc.index = pd.to_datetime(btc.index)

In [3]:
btc=btc[['price_close','volume_traded']]

In [4]:
ltc = pd.read_csv("BITSTAMP_SPOT_LTC_USD.csv",index_col='time_period_start')
ltc.index.name='time'
ltc.index = pd.to_datetime(ltc.index)
ltc=ltc[['price_close','volume_traded']]

In [5]:
df = pd.merge(btc, ltc, how = 'inner', left_index = True, right_index=True)
df.head()

,price_close_x,volume_traded_x,price_close_y,volume_traded_y
time,,,,
2017-06-28 12:00:00,2559.90,5732.041025,42.04,18559.116545
2017-06-29 00:00:00,2542.25,2992.046598,40.46,8282.743713
2017-06-29 12:00:00,2541.59,5128.826766,40.50,6274.787509
2017-06-30 00:00:00,2552.51,3550.789911,41.01,15543.876327
2017-06-30 12:00:00,2465.49,5101.542603,39.88,4559.313796

In [6]:
df['btc_diff'] = df.price_close_x - df.shift(1).price_close_x
df['ltc_diff'] = df.price_close_y - df.shift(1).price_close_y
df.head()

,price_close_x,volume_traded_x,price_close_y,volume_traded_y,btc_diff,ltc_diff
time,,,,,,
2017-06-28 12:00:00,2559.90,5732.041025,42.04,18559.116545,NaN,NaN
2017-06-29 00:00:00,2542.25,2992.046598,40.46,8282.743713,-17.65,-1.58
2017-06-29 12:00:00,2541.59,5128.826766,40.50,6274.787509,-0.66,0.04
2017-06-30 00:00:00,2552.51,3550.789911,41.01,15543.876327,10.92,0.51
2017-06-30 12:00:00,2465.49,5101.542603,39.88,4559.313796,-87.02,-1.13

In [7]:
df.dropna(how='any',inplace=True)

In [8]:
df['ltc_lag'] = df.price_close_y - df.shift(-1).price_close_y
df.dropna(how='any',inplace=True)

In [9]:
df['btc_lag'] = df.price_close_x - df.shift(-1).price_close_x
df.dropna(how='any',inplace=True)
df.head()

,price_close_x,volume_traded_x,price_close_y,volume_traded_y,btc_diff,ltc_diff,ltc_lag,btc_lag
time,,,,,,,,
2017-06-29 00:00:00,2542.25,2992.046598,40.46,8282.743713,-17.65,-1.58,-0.04,0.66
2017-06-29 12:00:00,2541.59,5128.826766,40.50,6274.787509,-0.66,0.04,-0.51,-10.92
2017-06-30 00:00:00,2552.51,3550.789911,41.01,15543.876327,10.92,0.51,1.13,87.02
2017-06-30 12:00:00,2465.49,5101.542603,39.88,4559.313796,-87.02,-1.13,0.43,-34.51
2017-07-01 00:00:00,2500.00,2772.416897,39.45,5516.726485,34.51,-0.43,1.35,87.59

In [10]:
df.corr()

,price_close_x,volume_traded_x,price_close_y,volume_traded_y,btc_diff,ltc_diff,ltc_lag,btc_lag
price_close_x,1.000000,0.084757,0.904982,0.296054,0.035506,0.074002,-0.020794,0.061076
volume_traded_x,0.084757,1.000000,0.081089,0.619986,-0.119445,-0.127718,-0.046926,-0.012764
price_close_y,0.904982,0.081089,1.000000,0.246616,-0.043964,0.049722,0.062529,0.105116
volume_traded_y,0.296054,0.619986,0.246616,1.000000,-0.056758,0.162191,-0.085595,0.006146
btc_diff,0.035506,-0.119445,-0.043964,-0.056758,1.000000,0.545796,-0.127571,0.000561
ltc_diff,0.074002,-0.127718,0.049722,0.162191,0.545796,1.000000,-0.106441,-0.032540
ltc_lag,-0.020794,-0.046926,0.062529,-0.085595,-0.127571,-0.106441,1.000000,0.545790
btc_lag,0.061076,-0.012764,0.105116,0.006146,0.000561,-0.032540,0.545790,1.000000