In [2]:
import numpy as np
import pandas as pd
from scipy import stats
 
# グラフ描画
from matplotlib import pylab as plt
import seaborn as sns
%matplotlib inline

In [4]:
f3 = '%Y/%m/%d %H:%M'
my_parser = lambda date: pd.datetime.strptime(date, f3)

In [5]:
df1 = pd.read_csv('interpolation.csv',parse_dates=True,date_parser=my_parser)
df1.tail()

,btcdate,btcbegin,btchigh,btclow,btcend,cboedate,cboebegin,cboehigh,cboelow,cboeend,cboevolumn
1215,2017/12/11 11:00,16162.8467,16503.3926,16004.5996,16502.0645,2017/12/11 11:00,17540.0,18660.0,17400.0,18660.0,7.0
1216,2017/12/11 10:00,15459.7676,16179.0859,15458.7402,16162.8467,2017/12/11 10:00,17000.0,17260.0,17000.0,17260.0,3.0
1217,2017/12/11 9:00,15097.2529,15546.0771,15060.0107,15459.7676,2017/12/11 9:00,16430.0,16800.0,16430.0,16800.0,2.0
1218,2017/12/11 8:00,14646.6904,15916.0957,14643.7852,15097.2529,2017/12/11 8:00,NaN,NaN,NaN,NaN,NaN
1219,2017/12/11 7:00,14690.4258,15184.1602,14538.3965,14646.6904,2017/12/11 7:00,14710.0,14710.0,14710.0,14710.0,1.0

In [6]:
df1['btcdate'] = pd.to_datetime(df1['btcdate'],format='%Y/%m/%d %H:%M')
df1['cboedate'] = pd.to_datetime(df1['cboedate'],format='%Y/%m/%d %H:%M')
df1.head(5)

,btcdate,btcbegin,btchigh,btclow,btcend,cboedate,cboebegin,cboehigh,cboelow,cboeend,cboevolumn
0,2018-02-16 14:00:00,10002.7793,10145.4453,10002.4316,10099.9063,2018-02-16 14:00:00,10130.0,10170.0,10090.0,10120.0,29.0
1,2018-02-16 13:00:00,10121.5996,10125.2246,9955.7051,10002.7793,2018-02-16 13:00:00,10060.0,10140.0,9980.0,10110.0,106.0
2,2018-02-16 12:00:00,10193.3984,10218.4492,10056.2695,10121.5996,2018-02-16 12:00:00,10180.0,10190.0,10050.0,10060.0,56.0
3,2018-02-16 11:00:00,10300.0098,10300.5430,10167.4785,10193.3984,2018-02-16 11:00:00,10240.0,10260.0,10170.0,10200.0,48.0
4,2018-02-16 10:00:00,10237.0479,10300.0098,10155.6904,10300.0098,2018-02-16 10:00:00,10240.0,10320.0,10200.0,10230.0,102.0

In [7]:
df1 = df1.interpolate(method='linear')
df1.tail()

,btcdate,btcbegin,btchigh,btclow,btcend,cboedate,cboebegin,cboehigh,cboelow,cboeend,cboevolumn
1215,2017-12-11 11:00:00,16162.8467,16503.3926,16004.5996,16502.0645,2017-12-11 11:00:00,17540.0,18660.0,17400.0,18660.0,7.0
1216,2017-12-11 10:00:00,15459.7676,16179.0859,15458.7402,16162.8467,2017-12-11 10:00:00,17000.0,17260.0,17000.0,17260.0,3.0
1217,2017-12-11 09:00:00,15097.2529,15546.0771,15060.0107,15459.7676,2017-12-11 09:00:00,16430.0,16800.0,16430.0,16800.0,2.0
1218,2017-12-11 08:00:00,14646.6904,15916.0957,14643.7852,15097.2529,2017-12-11 08:00:00,15570.0,15755.0,15570.0,15755.0,1.5
1219,2017-12-11 07:00:00,14690.4258,15184.1602,14538.3965,14646.6904,2017-12-11 07:00:00,14710.0,14710.0,14710.0,14710.0,1.0

In [ ]:
#sort by date and save to csv file

df1 = df1.drop(['cboedate'],axis=1)
df1 = df1.sort_values(by=['btcdate'],ascending=True)

In [15]:
df1.reset_index(drop=True,inplace=True)
df1.head(5)

,btcdate,btcbegin,btchigh,btclow,btcend,cboebegin,cboehigh,cboelow,cboeend,cboevolumn
0,2017-12-11 07:00:00,14690.4258,15184.1602,14538.3965,14646.6904,14710.0,14710.0,14710.0,14710.0,1.0
1,2017-12-11 08:00:00,14646.6904,15916.0957,14643.7852,15097.2529,15570.0,15755.0,15570.0,15755.0,1.5
2,2017-12-11 09:00:00,15097.2529,15546.0771,15060.0107,15459.7676,16430.0,16800.0,16430.0,16800.0,2.0
3,2017-12-11 10:00:00,15459.7676,16179.0859,15458.7402,16162.8467,17000.0,17260.0,17000.0,17260.0,3.0
4,2017-12-11 11:00:00,16162.8467,16503.3926,16004.5996,16502.0645,17540.0,18660.0,17400.0,18660.0,7.0

In [17]:
#save to csv file
df1.to_csv("mid1.csv",index=False)