In [53]:
import requests

payload = {'period_id': '12HRS', 'time_start': '2017-01-01T00:00:00','limit':'1000'}
headers = {'X-CoinAPI-Key': 'APIkey here '}
#data = requests.get("https://rest.coinapi.io/v1/ohlcv/BITSTAMP_SPOT_BTC_USD/history",headers=headers,params=payload).json()
#print(data)

In [54]:
import pandas as pd
from pandas.io.json import json_normalize

In [55]:
symbols = pd.read_json("symbols.json")

In [56]:
simp = symbols[['asset_id_quote','exchange_id','symbol_id','symbol_type']]

In [57]:
simp.head()

  asset_id_quote exchange_id                symbol_id symbol_type
0            CNY  OKCOIN_CNY  OKCOIN_CNY_SPOT_BTC_CNY        SPOT
1            CNY       HUOBI       HUOBI_SPOT_BTC_CNY        SPOT
2            CNY  OKCOIN_CNY  OKCOIN_CNY_SPOT_LTC_CNY        SPOT
3            CNY    BTCCHINA    BTCCHINA_SPOT_BTC_CNY        SPOT
4            CNY       HUOBI       HUOBI_SPOT_LTC_CNY        SPOT

In [58]:
simpsymbols = simp[simp.symbol_id.str.startswith('BITSTAMP') 
            & simp.symbol_id.str.contains('USD') 
            & (~simp.symbol_id.str.contains('EUR')) ]
simpsymbols

    asset_id_quote exchange_id              symbol_id symbol_type
15             USD    BITSTAMP  BITSTAMP_SPOT_BTC_USD        SPOT
98             USD    BITSTAMP  BITSTAMP_SPOT_XRP_USD        SPOT
160            USD    BITSTAMP  BITSTAMP_SPOT_ETH_USD        SPOT
232            USD    BITSTAMP  BITSTAMP_SPOT_LTC_USD        SPOT
810            USD    BITSTAMP  BITSTAMP_SPOT_BCH_USD        SPOT

In [59]:
url_base = 'https://rest.coinapi.io/v1/ohlcv/{0}/history'

for symbol_name in simpsymbols.symbol_id.unique():
    print (url_base.format(symbol_name))
    data = requests.get(url_base.format(symbol_name),
            headers=headers,
            params=payload).json()
    df =  json_normalize(data)
    df.to_csv(symbol_name+'.csv')

https://rest.coinapi.io/v1/ohlcv/BITSTAMP_SPOT_BTC_USD/history
https://rest.coinapi.io/v1/ohlcv/BITSTAMP_SPOT_XRP_USD/history
https://rest.coinapi.io/v1/ohlcv/BITSTAMP_SPOT_ETH_USD/history
https://rest.coinapi.io/v1/ohlcv/BITSTAMP_SPOT_LTC_USD/history
https://rest.coinapi.io/v1/ohlcv/BITSTAMP_SPOT_BCH_USD/history

In [40]:
data1 = requests.get("https://rest.coinapi.io/v1/ohlcv/BITSTAMP_SPOT_XRP_USD/history",headers=headers,params=payload).json()
df1 =  json_normalize(data1)
df1.head()

,price_close,price_high,price_low,price_open,time_close,time_open,time_period_end,time_period_start,trades_count,volume_traded
0,0.00650,0.00650,0.00645,0.00645,2017-01-25T20:13:55.0000000Z,2017-01-25T20:00:14.0000000Z,2017-01-25T21:00:00.0000000Z,2017-01-25T20:00:00.0000000Z,5,41776.641430
1,0.00650,0.00650,0.00648,0.00648,2017-01-25T21:38:23.0000000Z,2017-01-25T21:04:25.0000000Z,2017-01-25T22:00:00.0000000Z,2017-01-25T21:00:00.0000000Z,46,486348.201070
2,0.00649,0.00649,0.00649,0.00649,2017-01-25T22:21:04.0000000Z,2017-01-25T22:21:04.0000000Z,2017-01-25T23:00:00.0000000Z,2017-01-25T22:00:00.0000000Z,1,7107.274268
3,0.00645,0.00650,0.00645,0.00650,2017-01-26T00:26:45.0000000Z,2017-01-26T00:08:38.0000000Z,2017-01-26T01:00:00.0000000Z,2017-01-26T00:00:00.0000000Z,9,90037.944614
4,0.00649,0.00649,0.00649,0.00649,2017-01-26T02:57:54.0000000Z,2017-01-26T02:57:54.0000000Z,2017-01-26T03:00:00.0000000Z,2017-01-26T02:00:00.0000000Z,1,28106.317411

In [42]:
df1.to_csv(symbol_name+'.csv')